@media (max-width: 1023px) {
    .footer {
        padding: 20px 0;
        &-copyright {
            font-size: 12px;
            line-height: 20px;
        }
    }
}

@media (max-width: 319px) {
    .footer {
        &-copyright {
            font-size: 10px;
            line-height: 18px;
        }
    }
}