@media (max-width: 1439px) {
    .header {
        padding: 20px 0;
        &-logo {
            &__img {
                width: 55px;
                height: 55px;;
            }
        }
    }
}

@media (max-width: 1199px) {
    .header {
        &-logo {
            &__img {
                width: 55px;
                height: 55px;;
            }
        }
    }
}

@media (max-width: 1079px) {
    .header {
        padding: 15px 0;
        &-logo {
            &__img {
                width: 40px;
                height: 40px;;
            }
        }
    }
}
