.btn {
    font-family: "BrownTT bold", sans-serif;
    width: 200px;
    height: 40px;
    border-radius: 4px;
    color: #ffffff;
    font-weight: bold;
    background: $primary;
    border: none;
    &-request {
        margin-top: 36px;
    }
    &-asset {
        width: 200px;
        height: 40px;
        text-align: center;
        line-height: 38px;
    }
}