.btn {
    width: 200px;
    height: 40px;
    border-radius: 4px;
    color: #ffffff;
    font-weight: bold;
    background: $primary;
    border: none;
    &-request {
        margin-top: 36px;
    }
}