.footer {
    background: url('../img/footer/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 46px 0;
    &-copyright {
        color: white;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        line-height: 24px;
    }
}