.request {
    background-color: $bg1;

    &-title {
        font-family: "BrownTT light", sans-serif;
        font-size: 48px;
        line-height: 54px;
        font-weight: 300;
        text-align: center;
        color: #ffffff;
        padding: 80px 0 60px 0;
    }
    .item {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 102px;

        &-reverse {
            display: flex;
            flex-direction: row-reverse;
        }

        &-info {
            max-width: 580px;
            display: flex;
            flex-direction: column;

            &__heading {
                font-family: "BrownTT regular", sans-serif;
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                color: $dark;

                &-link {
                    text-decoration: underline;
                    color: $primary;
                }
            }

            &__description {
                font-family: "BrownTT regular", sans-serif;
                margin-top: 24px;
                font-size: 16px;
                line-height: 24px;
                font-weight: 600;
                color: $dark;
            }

            &__list {
                font-family: "BrownTT regular", sans-serif;
                font-size: 16px;
                line-height: 24px;
                font-weight: 600;
                color: $dark;
                margin-left: 20px;
                li {
                    font-family: "BrownTT regular", sans-serif;
                }
            }
        }

        &-mockup {
            width: 459px;
        }
    }
}