.reviews {
    background: url('../img/reviews/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 86px;

    &-title {
        font-family: "BrownTT light", sans-serif;
        font-size: 48px;
        line-height: 54px;
        font-weight: 300;
        text-align: center;
        color: $dark;
        padding-top: 84px;
        padding-bottom: 60px;
    }

    &-items {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &-item {
        max-width: 340px;
        background: white;
        border: 1px solid rgb(20, 20, 20, 0.15);
        padding: 40px;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(102, 102, 102, 0.08);
        -moz-box-shadow: 0px 0px 15px 0px rgba(102, 102, 102, 0.08);
        box-shadow: 0px 0px 15px 0px rgba(102, 102, 102, 0.08);

        &__name {
            margin-top: 28px;
            font-family: "BrownTT bold", sans-serif;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            color: dark;
        }

        &__position {
            font-family: "BrownTT bold", sans-serif;
            font-weight: bold;
            font-size: 24px;
            color: dark;
        }

        &__company {
            font-family: "BrownTT bold", sans-serif;
            font-weight: bold;
            font-size: 24px;
            color: dark;
        }

        &__text {
            font-family: "BrownTT light", sans-serif;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: dark;
            margin-top: 28px;
        }
    }
}