.header {
    background-color: $bg1;
    padding: 35px 0;
    border-bottom: 2px solid rgba(255,255,255,0.2);
    &__logo {
        &-img {
            width: 60px;
            height: 60px;;
        }
    }
}