* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'BrownTT', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1420px;
    margin: 0 auto;
}

.wrapper {
    display: block;
    margin: 0 auto;
    width: 1663px;
    background-color: #ffffff;
    padding-top: 58px;
}

